
@{
    ViewBag.Title = "ChinhSachHoTro";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    h1 {
        margin-top: 120px;
        padding: 20px 0px;
        text-transform: capitalize;
        text-align: center;
    }

    .chinhsachhotro {
        margin: 30px 45px;
        padding: 0 15px;
        text-transform: capitalize;
    }

    #nghien {
        font-weight: bold;
        font-style: italic;
    }

    h2 {
        line-height: 50px;
    }

    .title-cs p {
        line-height: 35px;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 400;
    }
</style>
<h1>Chính sách đổi & bảo hành</h1>

<div class="chinhsachhotro">
    <div class="title-cs">
        <h3 id="Camket-1">Cam Kết về sản phẩm</h3>
        <p>Tất cả sản phẩm của&nbsp; <strong>Thekutsusneaker</strong>&nbsp; khi đến tay khách hàng đều là sản phẩm mới hoàn toàn, đúng chất lượng như mô tả & hình ảnh thật &nbsp; <strong>Thekutsusneaker</strong> &nbsp; có chụp trên website.</p>
        <p>Nếu quý khách nhận được sản phẩm không đúng, bị lỗi kỹ thuật, hoặc không vừa size, không ưng ý, Quý khách vui lòng mang sản phẩm đến cửa hàng Thekutsusneaker hoặc gửi sản phẩm về cho chúng tôi trong vòng 07 ngày kể từ khi nhận được hàng. Sau thời gian đó, Thekutsusneaker xin từ chối mọi khiếu nại.</p>
    </div>
    <div class="Chinhsachbaohanh">
        <div class="title-cs">
            <h3 id="Camket-1">Chính sách bảo hành</h3>
            <p>Chúng tôi bảo hành sản phẩm giày dép&nbsp;<strong>06 THÁNG</strong>&nbsp;về các vấn đề liên quan đến keo, bong keo, hở keo. Để được bảo hành, quý khách vui lòng đem sản phẩm tới shop và chỉ cần đọc số điện thoại đã mua hàng</p>
            <p style="font-weight:bold">1.	Điều kiện bảo hành:</p>
            <p style=" text-indent: 30px">- Sản phẩm được mua tại&nbsp;<strong>Thekutsusneaker</strong>,&nbsp; có hoá đơn mua hàng(SDT) hợp lệ</p>
            <p style=" text-indent: 30px">- Địa chỉ bảo hành:475A Điện Biên Phủ Phường 25, HCM. Khách hàng ở xa vui lòng gửi sản phẩm về địa chỉ trên và thanh toán phí vận chuyển khi có nhu cầu bảo hành sản phẩm tại <strong>Thekutsusneaker</strong> </p>
            <p style="font-weight:bold">2.	Chúng tôi không bảo hành trong các trường hợp sau:</p>
            <p style=" text-indent: 30px">- Sản phẩm đã hết hạn bảo hành</p>
            <p style=" text-indent: 30px">- Giày dép bị hư do lỗi bên phía quý khách gây ra như: trầy xước, mòn đế,  thú nuôi cắn, bị bào mòn trong quá trình sử dụng...</p>
            <p style=" text-indent: 30px">- Không chứng mình được sản phẩm mua hàng tại&nbsp;<strong>Thekutsusneaker</strong>&nbsp;(không có số điện thoại mua hàng, không có hoá đơn mua hàng)</p>
        </div>
        <div class="DienKien">
            <div class="title-cs">
                <h3 id="Camket-1">Điều kiện đổi sản phẩm</h3>
                <p style=" text-indent: 30px">-<strong>Thekutsusneaker</strong> tiếp nhận khiếu nại hoặc đổi hàng trong vòng 7 ngày tính từ thời điểm nhận hàng </p>
                <p style=" text-indent: 30px">-Sản phẩm phải còn nguyên vẹn, nguyên tem mác, chưa qua sử dụng, không bị dơ bẩn và sửa chữa.</p>
                <p style=" text-indent: 30px">-Các sản phẩm khuyến mãi trong các chương trình sale, thanh lý không được hỗ trợ đổi hàng.</p>
                <p style=" text-indent: 30px">-Không áp dụng trả lại hàng , nếu sản phẩm lỗi do nhà sản xuất Thekutsusneaker sẽ chịu trách nhiệm đổi lại sản phẩm mới cho quý khách  </p>
                <p style=" text-indent: 30px">-<strong>Thekutsusneaker</strong>&nbsp;<strong>chỉ đổi 01 lần duy nhất</strong> &nbsp;với giá bằng hoặc cao hơn, nếu thấp hơn quý khách sẽ không được hoàn tiền.</p>
            </div>
        </div>
        <div class="Phidoihang">
            <div class="title-cs">
                <h3 id="Camket-1">Phí Đổi Hàng</h3>
                <p>Khách hàng muốn đổi sản phẩm vì lí do chủ quan (Không vừa size, không thích màu...), vui lòng chịu phí vận chuyển đối với khách hàng ở xa. Tại HCM quý khách vui lòng đổi hàng tại cửa hàng của &nbsp;<strong>Thekutsusneaker</strong>&nbsp;.</p>
                <h3 id="Camket-1"> Các bước đổi sản phẩm </h3>
                <p>Lưu ý: Liên hệ Bộ phận Chăm sóc Khách hàng thông qua Hotline 0975965523 hoặc liên hệ facebook trước khi gửi hàng về đổi.</p>
                <p>Quý khách vui lòng không tự ý gửi hàng về khi chưa liên hệ lại CSKH của &nbsp;<strong>Thekutsusneaker</strong>&nbsp;. Mọi mất mát về hàng hóa chúng tôi hoàn toàn không chịu trách nhiệm.</p>
                <p>Trường hợp khách muốn đổi qua sản phẩm khác, Thekutsusneaker sẽ tiến hành chuyển sản phẩm cần đổi cho khách sau khi nhận được sản phẩm hoàn trả.</p>
                <p id="nghien">Chú ý: Quý khách nên cân nhắc kỹ sản phẩm trước khi mua, sản phẩm đã bán ra sẽ không được trả lại. Không có trường hợp ngoại lệ. Để đảm bảo cho mọi khách hàng luôn mua được sản phẩm mới.</p>

            </div>
        </div>
    </div>
    <div></div>
</div>