
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .tk {
        font-size: 32px;
        text-align: center;
        margin-top: 250px;
        padding-bottom: 20px;
    }
    .dn-1 {
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
    }

    .body {
        font-family: 'Poppins',sans-serif;
        font-weight: 400;
    }

    .container-1 {
        height: 136px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .buttons {
        position: absolute;
        top: -23%;
        left: 40%;
    }

    .btn {
        text-decoration: none;
        padding: 20px 50px;
        font-size: 16px;
        position: relative;
        margin: 32px;
    }

    .btn-2 {
        color: #000;
        background-color: #FFF;
    }

        .btn-2::after, .btn-2::before {
            border: 3px solid black;
            content: "";
            position: absolute;
            width: calc(100% - 6px);
            height: calc(100% - 6px);
            left: 0;
            bottom: 0;
            transition: transform 0.3s ease;
        }

        .btn-2:hover::after {
            transform: translate(-5px,-5px);
        }

        .btn-2:hover::before {
            transform: translate(5px,5px);
        }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lỗi</title>
</head>
<body>
    <div>
        <p class="tk">Tài khoản chưa được cấp quyền truy cập</p>
    </div>
    <div class="container-1">
        <div class="buttons">
            <button type="button" class="btn btn-2" onclick="location.href='@Url.Action("Index", "Admin")'">
                Quay về trang chủ
            </button>
        </div>
    </div>
    <div>
        <a href="/Admin/Login">
            <p class="dn-1">Đăng nhập quyền quản trị</p>
        </a>
    </div>
</body>
</html>
